<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    is Index

    <div>
        <a href="http://debian-server:7777/swagger/">/swagger/</a> <br>
        <a href="http://debian-server:7777/user/">/user/</a> <br>
        <a href="http://debian-server:7777/system/">/system/</a> <br>
        <a href="http://debian-server:7777/swagger-ui/">/swagger-ui/</a> <br>
    </div>
</body>
</html>